fastapi==0.115.12
uvicorn[standard]==0.34.3
python-multipart==0.0.20
opencv-python==4.11.0.86
numpy==2.3.0
Pillow==11.2.1  
ultralytics==8.3.154
torch==2.7.1  
torchvision==0.22.1  
python-dotenv==1.1.0  
